@font-face {
    font-family: 'Font';
    src: url('/static/font/font.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'FontBold';
    src: url('/static/font/fontbold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;

}
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
body{
    background:#fff;
    font-family: 'Font';
    overflow: auto!important;
}
*{
    outline:none!important
}
.strong{
    font-family: 'FontBold';
}
.container-fluid, .container-sm, .container-md, .container-lg, .container-xl{
    padding:0
}
.flex{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

.result-holder{
    padding:0 ;
    height: 100vh;
    position: relative;
    flex: 0 0 calc(100% - 420px);
    max-width: calc(100% - 420px);
}
.result-holder h1{
    color:#0394DD;
    font-family: 'FontBold';
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 0;
    text-align: center;
}
.result-holder .results{
    padding: 20px 0;
    overflow: hidden;
    overflow-y: scroll;
    height: calc(100vh - 180px);
}
.result-holder .result-item{
    border-radius: 10px;
    border: 3px solid transparent;
    -webkit-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.3);
    padding: 0 0 10px 0

}

.result-holder .result-item .brian-eyes{
    position: relative;
    left: -3px;
    top: -3px;
    right: -3px;
    width: calc(100% + 6px);
}
.InfiniteCarouselFrame > ul{
    padding:0 0 40px 0 !important;
    vertical-align: bottom;
    list-style: disc!important;
}

.InfiniteCarouselFrame > ul li{
    vertical-align: bottom;
    float:none!important
}

.result-holder .result-item:hover, .result-holder .result-item.active{
   border-color: #0071C5;
}

.result-holder .match{
    text-align: center;
    padding: 20px 0 0 0;
    color:#0394DD;
    line-height: normal;
    white-space: normal;
}

.result-holder .match span.circle{
    width: 64px;
    height: 64px;
    display: inline-block;
    vertical-align: middle;
}

.result-holder .match span svg{
    width: 64px;
    height: 64px;
}
.result-holder .match span.rec-mark{
    display: inline-block;
    width: calc(75% - 78px);
    text-align: left;
    padding-left: 10px;
    vertical-align: middle;
    font-size: 0.8em;
}
.result-holder .product-image{
    width: 100%;
}
.result-holder .product-image img{
    width: 70%;
    margin: 0 auto;
    display: block;
}

.result-holder .specs{
    font-size: 14px;
    padding:0 20px;
    color:#5D5D5D;
    margin-top: -25px;
    z-index: 19;
    white-space: normal;
}
.result-holder .specs strong{
    color:#0071C5
}

.result-holder .item-price{
    color: #00487E;
    font-size: 25px;
    padding:0 20px;
    font-family: 'FontBold';
}

.satisfied-results {
    display: block;
    background-color: #00487E;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 149px;
    
}

.satisfied-results.open {
    height: auto;
    
}
.satisfied-results h2{
    display: block;
    color:#fff;
    font-size: 22px;
    margin:20px  0;
    text-align: center;
}

.rating{
    font-size: 34px;
    text-align: center;
    
}
.dv-star-rating label{
    font-size: 34px;
}
.dv-star-rating .dv-star-rating-empty-star{
    color:#216DA7!important
}

.dv-star-rating .dv-star-rating-full-star{
    color:#EFC826!important
}

.satisfied-results ul{
    display: none;
    list-style: none;
    padding:0;
    margin: 0;
    text-align: center;
}

.satisfied-results ul.open{
    display: block;
}

.satisfied-results ul li{
    display:inline-block;
    margin-bottom: 20px;
}
.satisfied-results ul li a{
    border:1px solid #117AC7;
    display: block;
    color:#fff;
    border-radius: 100px;
    padding: 0 20px;
    height: 43px;
    line-height: 40px;
    text-decoration: none;
    margin: 0 10px;
    font-size: 0.8em;
}
.satisfied-results ul li a:hover{
    background-color: #EFC826;
    color:#00487E
}

.brian-holder{
    background: #0071C5;
    height: 100vh;
    flex: 0 0 420px;
    max-width: 420px;
}

.brian-holder figure{
    background: #EDB38D;
    margin:0;
    padding:0;
    overflow: hidden;
}
.brian-holder figure img{
    width: calc(100% + 2px);
    margin-top: -1px;
    margin-bottom: -1px;
}
.brian-holder .subtitles{
    color:#fff;
    padding:10px 0
}

.brian-holder .subtitles{
    color:#fff;
    padding:10px 0
}

.brian-holder .brians-picks{
    display: block;
    color:#fff;
    padding:50px;
    position: relative;
}

.brian-holder .brians-picks .leading{
    display: block;
    font-size: 30px;
}
.brian-holder .brians-picks .message{
    display: block;
    font-size: 20px;
}

.brian-holder .brians-picks ul{
    margin-top: 30px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.brian-holder .brians-picks ul li{
    padding-bottom: 5px;
}
.brian-holder .brians-picks ul li a{
    color:#fff
}
.brian-holder .brians-picks .open-picks{
    display: none
}
.carousel-track{
    height: 100%!important;
}
@media (min-width:600px){
    .InfiniteCarouselFrame > ul{
        overflow: hidden;
    }
}
@media (min-width:1600px){
    
.result-holder h1{
    font-size: 45px;
    margin-bottom: 100px;
}
}
@media (max-width:600px){
    .result-holder, .brian-holder{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .brian-holder{
        height: auto;
    }
    .result-holder h1{
        font-size: 16px;
        text-align: center;
        margin: 40px 0 10px 0 ;
    }
    .satisfied-results h2{
        font-size: 22px;
    }
    .brian-holder .brians-picks{
        padding:20px 50px
    }
    .brian-holder .brians-picks .leading{
        text-align: center;
        font-size: 24px;
    }
    .brian-holder .brians-picks .message{
        text-align: center;
        font-size: 18px;
    }
    .brian-holder .brians-picks ul{
        display: none;
        margin-top: 5px;
        padding-left: 20px;
    }
    .brian-holder .brians-picks ul li{
       padding-left: 0;
    }

    .brian-holder .brians-picks ul.open{
        display: block!important;
    }
    .brian-holder .brians-picks .open-picks{
       position: absolute;
       bottom: -30px;
       left: 50%;
       display: block;
       transform: translateX(-50%);
       z-index: 3;
    }
    .brian-holder .open-picks img{
        height: 46px;
    }
    .brian-holder .open-picks img.open{
        transform: rotate(180deg)
    }
    .brian-holder .subtitles{
        font-size: 12px;
    }
    .result-holder .results{
        height: auto;
    }
    .satisfied-results{
        position: static;
        margin:0 -20px -20px -20px;
        width: auto;
        padding-top: 10px;
    }
}
@media (max-width: 1024px){
    body{
        overflow: hidden;
    }
    body, html{
        overflow-y: scroll!important;
    }
}